.Home{    
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
}
.upBox{
    height: 55vh;
    width: 100%;
    /* background-image: url('./background3.png');
    background-size: cover; */
}
.downBox{
    height: 45vh;
    width: 100%;
    background-image: url('./background5.png');
}
.student{
    position: absolute;
    border: 2px solid hsl(331, 88%, 91%);
    display: flex;
    flex-direction: column;
    width: 27%;
    height: 60%;
    justify-content: space-evenly;
    align-items: center;
    left: 15%;
    top: 16%;
    background-color: hsl(331, 88%, 91%);
    border-radius: 35px;
    font-family:"Nanum Myeongjo";
    font-weight:bold;
    font-size:40px;
    color:white;
    box-shadow: 10px 5px 5px rgb(235, 234, 234);
}
.teacher{
    position: absolute;
    border: 2px solid rgb(208, 210, 240);
    display: flex;
    flex-direction: column;
    width: 27%;
    height: 60%;
    justify-content: space-evenly;
    align-items: center;
    right: 15%;
    top: 16%;
    background-color: rgb(208, 210, 240);
    border-radius: 35px;
    font-family:"Nanum Myeongjo";
    font-weight:bold;
    font-size:40px;
    color:white;
    box-shadow: 10px 5px 5px rgb(235, 234, 234);
}
.butt {
    width:101.5%;
    height:20%;
    border: 1px solid white;
    background-color:white;
}
.button {
    color:gray;
    font-size:15px;
    font-weight:bold;
}
@font-face {
    font-family:"Nanum Myeongjo";
    src: url("./font/NanumMyeongjo-Regular.ttf");
}