.Page {
    overflow: scroll;
    overflow-x:hidden;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:aliceblue;
    
    margin: 0;
    padding: 0;
    height: 100vh;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page {
    width:70%;
    align-items:center;
}
.top_bar {
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color: rgb(192, 231, 247);
    color:white;
    margin-bottom:50px;
    margin-top:20px;
    border-radius:20px;
}
.title {
    font-weight:bold;
    margin-left:30px;
}
.back {
    font-size:15px;
    font-weight:bold;
    margin-right:20px;
    color:black;
}
.submit {
    justify-content:center;
    width:20%;
    height:50px;
    border: 1px solid rgb(198, 230, 243);
    background-color:rgb(198, 230, 243);
    border-radius:20px;
    font-size:30px;
    font-weight:bold;
    font-family:"Nanum Myeongjo";
    color: white;
    margin-bottom: 10px;
}
@font-face {
    font-family:"Nanum Myeongjo";
    src: url("./font/NanumMyeongjo-Regular.ttf");
}