.container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color:aliceblue; */
    background: linear-gradient(45deg,
    rgb(243, 249, 252) 25%, white 0, white 50%,
    rgb(243, 249, 252) 0, rgb(243, 249, 252) 75%, white 0);
}
.formBox{
    display: flex;
    flex-direction: column;
    width: 392px;
    height: 462px;
    margin-top: 20vh;
    background-color:white;
    font-family:"Nanum Myeongjo", serif;
    font-weight:bold;
    padding: 40px 40px;
    border: 1px solid rgb(218, 241, 253);
}
.logo{
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    font-family:"Nanum Myeongjo", serif;
    top: 60px;
    color:rgb(119, 208, 243);
}
.smallDiv{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    color:skyblue;
}
.span{
    text-align: end;
    margin-top: -15px;
    margin-bottom: 10px;
    color: red;
    font-size: 14px;
}
.genderDiv{
    display: flex;
    width: 83px;
    justify-content: space-between;
}
.select{
    width: 254px;
    height: 32px;
}
.input{
    height: 30px;
    width: 250px;
 
}
.radio{
    display: flex;
    align-items: center;
}
.btn{
    height: 40px;
    border: 1px solid rgb(167, 229, 253);
    border-radius:30px;
    background-color:rgb(167, 229, 253);
    font-weight:bold;
    color:white;
    font-size:20px;
    font-family:"Nanum Myeongjo";
}
@font-face {
    font-family:"Nanum Myeongjo";
    src: url("./font/NanumMyeongjo-Regular.ttf");
}
