.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    align-items: center;
}
.question {
    display:flex;
    justify-content:center;
    align-items:center;
    width:85%;
    font-size:30px;
    font-family:"SongMyung";
    font-weight:bold;
}
.answer {
    display:flex;
    flex-direction:row;
    align-items:center;
    font-family:"Nanum Myeongjo";
    margin-top: 40px;
    font-size: 20px;
    justify-content: flex-end;
    width: 100%;
    margin-right:50px;
}

@font-face {
    font-family:"Nanum Myeongjo";
    src: url("../routes/font/NanumMyeongjo-Regular.ttf");
} 
@font-face {
    font-family:"SongMyung";
    src: url("../routes/font/SongMyung-Regular.ttf");
}